.content{
  margin: 0;
  padding: 0;
}


/* allow="accelerometr; autoplay, clipboard-write; encrypted-media; gyroscore; pictue-in-picture;" */


.table_theme_dark{
  padding: 0;
}

/* и элемента с модификатором вида ключ-значение */


.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0;
  padding: 60px 0 40px;
}

.footer__column{
  margin: 0;
  padding: 0;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__author{
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}

.footer__column-links{
  color: white;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer__column-link{
  color: white;
  list-style: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
